{% extends 'academy/elements/base.html' %}

{% load i18n %}
{% load static %}

{% block title %}
{% trans 'Hsoub Academy -' %} {{ course.title }} / {{ subtitle.subtitle }} / {{ video.title }}
{% endblock %}

{% block content %}
<nav class="ipsBreadcrumb ipsBreadcrumb_top ipsFaded_withHover">

  <ul data-role="breadcrumbList">
    <li>
      <a title="home" href="{% url 'home' %}"> <span> {% trans "Home" %} <i class="fa fa-angle-right"></i> </span> </a>
    </li>

    <li>
      <a href="{% url 'academy.my_courses' %}"> <span> {% trans "My Courses" %} <i class="fa fa-angle-right"></i>
        </span> </a>
    </li>
    <li>
      <a href="{% url 'academy.subtitles' course.id %}"> <span> {{ course.title }} </span> <i
          class="fa fa-angle-right"></i> </a>
    </li>
    <li>
      <a href="{% url 'academy.videos' course.id subtitle.id %}"> <span> {{ subtitle.subtitle }} </span> <i
          class="fa fa-angle-right"></i> </a>
    </li>
    <li>
      <a href="{% url 'academy.video' course.id subtitle.id video.id %}"> <span> {{ video.title }} </span> <i
        class="fa fa-angle-right"></i>  </a>
    </li>
    <li>
      <a href="{% url 'academy.video' course.id subtitle.id video.id %}"> <span> {% trans "Answers of commet" %}: {{ comment.id }} </span> </a>
    </li>
  </ul>
</nav>

<div id="elCmsPageWrap" data-pageid="21">
  <div class="ipsPageHeader ipsBox ipsResponsive_pull ipsPadding ipsClearfix">
    <h1 class="ipsType_pageTitle ipsContained_container">
      <div class="ipsType_break ipsContained">{% trans "Title" %}: {{ comment.text }}</div>
      <p>{% trans "Sender:" %} {{ comment.sender.first_name }} {{ comment.sender.last_name }}</p>
    </h1>
  </div>
  <hr class="ipsHr">

  <a id="replies"></a>
  <h2 class="ipsType_sectionTitle ipsType_reset">{% trans "All Answers" %}</h2>
  

  <div data-controller="core.front.core.commentsWrapper" data-tabsid="bb0ece718da169f6936edf29d0dbea33">
    <section id="ipsTabs_content_bb0ece718da169f6936edf29d0dbea33" class="ipsTabs_panels ipsTabs_contained">
      <div id="ipsTabs_elTabs_bb0ece718da169f6936edf29d0dbea33_bb0ece718da169f6936edf29d0dbea33_tab_comments_panel"
        class="ipsTabs_panel" aria-labelledby="bb0ece718da169f6936edf29d0dbea33_tab_comments" aria-hidden="false"
        style="">
        <div data-controller="core.front.core.commentFeed, core.front.core.ignoredComments" data-autopoll=""
          id="comments">

          <div data-role="commentFeed" data-controller="core.front.core.moderation">

            {% for answer in answers %}

              <article id="elComment_80163"
                class="ipsBox ipsBox--child ipsComment ipsComment_parent ipsClearfix ipsClear">
                <div id="comment-80163_wrap" data-controller="core.front.core.comment" class="cPost_content ipsComment_content ipsType_medium ">

                  <div class="ipsComment_header ipsFlex ipsFlex-ai:start ipsFlex-jc:between">
                    <div class="ipsPhotoPanel ipsPhotoPanel_mini ipsPhotoPanel_notPhone">

                      {% if answer.sender.member.profile_pic %}
                      <img
                        src="{{ answer.sender.member.profile_pic.url }}"
                        alt="{{ answer.sender.username }}" width="50">
                        {% else %}
                        <img
                          src="{% static "dashboard/img/icons/user/user_icon.png" %}"
                          alt="{{ answer.sender.username }}" width="50">
                      {% endif %}

                      <div>
                        <h3 class="ipsComment_author ipsType_blendLinks">
                          <strong class="ipsType_normal">
                            <div class="ipsType_break">
                              {{ answer.sender.first_name }} {{ answer.sender.last_name }}
                            </div>
                            </strong>
                        </h3>

                        <p class="ipsComment_meta ipsType_light ipsType_medium">
                          {% trans "Posted on:" %}
                          <time>
                            {{ answer.created_at }}
                          </time>
                        </p>
                      </div>

                    </div>
                    <div class="ipsType_reset ipsType_light ipsType_blendLinks ipsComment_toolWrap">
                      <div class="ipsResponsive_hidePhone ipsComment_badges">
                        <ul class="ipsList_reset ipsFlex ipsFlex-jc:end ipsFlex-fw:wrap ipsGap:2 ipsGap_row:1">

                        </ul>
                      </div>

                      <ul class="ipsList_reset ipsComment_tools">
                        <li>
                          <a href="#elControlsComments_80163_menu" id="elControlsComments_80163"
                            class="ipsComment_ellipsis" data-ipsmenu="" data-ipsmenu-appendto="#comment-80163_wrap"><i
                              class="fa fa-ellipsis-h"></i></a>
                        </li>
                      </ul>

                    </div>
                  </div>
                  <div
                    class="ipsClear ipsPadding_vertical sm:ipsPadding_vertical:half ipsPadding_horizontal ipsType_normal ipsType_richText ipsContained" id="ips_uid_393_3">
                    <p>
                      {{ answer.text }}
                    </p>
                  </div>
              </article>

            {% empty %}
              <p class="ipsType_normal ipsType_light ipsType_reset" data-role="noComments">
                {% trans "There is no answers" %}
              </p>
            {% endfor %}
          </div>
          <br><br>
          <div class="ipsAreaBackground ipsPad" data-role="replyArea">
            
            <div class="ipsComposeArea ipsComposeArea_withPhoto ipsClearfix ipsContained ipsComposeArea_minimized">
              <div data-role="whosTyping" class="ipsHide ipsMargin_bottom"></div>
              <div class="ipsPos_left ipsResponsive_hidePhone ipsResponsive_block">
                <a class="ipsUserPhoto ipsUserPhoto_small">
                  {% if user.member.profile_pic %}
                  <img src="{{ user.member.profile_pic.url }}" alt="{{ user.username }}">
                  {% else %}
                  <img src="{% static "dashboard/img/icons/user/user_icon.png" %}" alt="{{ user.username }}">
                  {% endif %}
                </a>
              </div>
              <div class="ipsComposeArea_editor">
                <div>
                  <form action="{% url 'academy.video.add_answer' course.id subtitle.id video.id comment.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <textarea name="text" id="" cols="30" rows="10">
                    </textarea>
                    <br>
                    <br>
                    <button type="submit" class="ipsButton ipsButton_primary" tabindex="2" accesskey="s"
                      role="button">Add answer</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>


  <br>


</div>

<div id="ipsLayout_sidebar" class="ipsLayout_sidebarright" data-controller="core.front.widgets.sidebar">
</div>

{% endblock %}