{% load i18n %}
{% load static %}

{% url 'home' as home %}
{% url 'home' as home %}
{% url 'academy.my_courses' as my_courses %}
{% url 'questions' as questions %}
{% url 'questions' as questions %}
{% url 'store' as store %}

<div id="ipsLayout_header" class="ipsClearfix">
  <header>
    <div class="ipsLayout_container">
      <a href="{% url 'home' %}" id="elLogo" accesskey="1"><img
          src="{% static 'assets/images/logos/HsoubAcademyLogo.png' %}" alt="{% trans 'Hsoub Academy' %}" /></a>

      {% if user.is_authenticated %}
      <ul id="elUserNav" class="ipsList_inline cSignedIn ipsResponsive_showDesktop"
        data-controller="core.front.core.userbar,core.front.core.instantNotifications">
        <li class="elUserNav_sep"></li>
        <li class="cUserNav_icon ipsHide" id="elCart_container"></li>
        <li class="elUserNav_sep ipsHide" id="elCart_sep"></li>

        <li class="cUserNav_icon" id="elCart_container">
          <a href="{% url "academy.store.cart" %}" id="elCart">
            <i class="fa fa-shopping-cart"></i> 
            <span class="ipsNotificationCount" id="cart-items-count">
              {{ cart.courses|length }}
            </span>
            &nbsp; {% trans "Cart" %}
          </a>

        </li>

        <li id="cUserLink">

          <a href="#">{{ user.first_name }} {{ user.last_name }}
           </a>
          <a href="#" rel="nofollow" data-ipshover="" data-ipshover-width="370" class="ipsUserPhoto ipsUserPhoto_tiny"
            id="ips_uid_6538_15">
            {% if user.member.profile_pic %}
            <img src="{{ user.member.profile_pic.url }}" alt="{{ user.username }}" loading="lazy">
            {% else %}
              <img src="{% static "dashboard/img/icons/user/user_icon.png" %}" alt="{{ user.username }}" loading="lazy">
            {% endif %}
          </a>
        </li>
        <li id="elSignInLink">
          <a href="{% url 'logout' %}">{% trans 'Logout' %}</a>
        </li>
      </ul>
      {% else %}
      <ul id="elUserNav" class="ipsList_inline cSignedOut ipsResponsive_showDesktop">
        <li class="cUserNav_icon ipsHide" id="elCart_container"></li>
        <li class="elUserNav_sep ipsHide" id="elCart_sep"></li>
        <li id="elSignInLink">
          <a href="{% url 'login' %}">{% trans 'Login' %}</a>
        </li>
        <li>
          <a href="{% url 'register' %}" target="_blank" rel="noopener"
            class="ipsButton ipsButton_normal ipsButton_primary">{% trans 'Register' %}</a>
        </li>
      </ul>
      <ul class="ipsMobileHamburger ipsList_reset ipsResponsive_hideDesktop">
        <li data-ipsdrawer="" data-ipsdrawer-drawerelem="#elMobileDrawer">
          <a href="#"><i class="fa fa-navicon"></i></a>
        </li>
      </ul>
      {% endif %}
    </div>
  </header>

  <nav data-controller="core.front.core.navBar" class="ipsResponsive_showDesktop" id="ips_uid_8578_2">
    <div class="ipsNavBar_primary ipsLayout_container">
      <ul data-role="primaryNavBar" class="ipsClearfix">

        <li class="{% if request.path == home %}ipsNavBar_activate{% else %}ipsNavBar{% endif %}">
          <a href="{% url 'home' %}" data-navitem-id="2" data-navdefault="" data-active="true">
            {% trans 'Home' %}
          </a>
        </li>

        {% if user.is_authenticated %}
          <li class="{% if request.path == my_courses %}ipsNavBar_activate{% else %}ipsNavBar{% endif %}">
            <a href="{% url 'academy.my_courses' %}" data-navdefault="" id="ips_uid_6538_5">
              <i class="fa fa-graduation-cap"></i> 
              {% trans "My Courses" %}
            </a>

          </li>
        {% endif %}

        <li class="{% if request.path == questions %}ipsNavBar_activate {% else %}ipsNavBar{% endif %}">
          <a href="{% url 'questions' %}" data-navitem-id="9">
            {% trans 'Q & A' %}
          </a>
        </li>

        <li class="{% if request.path == books %}ipsNavBar_activate{% else %}ipsNavBar{% endif %}">
          <a href="{% url 'books' %}" data-navitem-id="10">
            {% trans 'Books' %}
          </a>

        </li>

        <li class="{% if request.path == store %}ipsNavBar_activate{% else %}ipsNavBar{% endif %}">
          <a href="{% url 'store' %}" data-navitem-id="46">
            {% trans 'Courses' %}
          </a>

        </li>

        <li class="ipsHide" id="elNavigationMore" data-role="navMore" style="">
          <a href="#" data-ipsmenu="" data-ipsmenu-appendto="#elNavigationMore" id="elNavigationMore_dropdown">{% trans
            'More' %}</a>
        </li>
      </ul>

    </div>
  </nav>

  <ul id="elMobileNav" class="ipsResponsive_hideDesktop" data-controller="core.front.core.mobileNav">
    <li class="ipsJS_show">
      <a href="#"><i class="fa fa-search"></i></a>
    </li>
  </ul>
</div>

<div id="elMobileDrawer" class="ipsDrawer ipsHide">
  <div class="ipsDrawer_menu">
    <a href="#" class="ipsDrawer_close" data-action="close"><span>×</span></a>
    <div class="ipsDrawer_content ipsFlex ipsFlex-fd:column">
      <ul id="elUserNav_mobile" class="ipsList_inline signed_in ipsClearfix"></ul>
      <div class="ipsPadding ipsBorder_bottom">
        <ul class="ipsToolList ipsToolList_vertical">
          <li>
            <a href="{% url 'login' %}" id="elSigninButton_mobile"
              class="ipsButton ipsButton_light ipsButton_small ipsButton_fullWidth">{% trans 'Login' %}</a>
          </li>
          <li>
            <a href="{% url 'register' %}" target="_blank" rel="noopener"
              class="ipsButton ipsButton_small ipsButton_fullWidth ipsButton_important">{% trans 'Register' %}</a>
          </li>
        </ul>
      </div>
      <ul class="ipsDrawer_list ipsFlex-flex:11">
        <li class="ipsDrawer_itemParent">
          <h4 class="ipsDrawer_title"><a href="#">{% trans 'Home' %}</a></h4>
          <ul class="ipsDrawer_list">
            <li data-action="back">
              <a href="#">{% trans 'Back' %}</a>
            </li>
            <li>
              <a href="{% url 'home' %}">{% trans 'Home' %}</a>
            </li>
            <li>
              <a href="#">{% trans 'Search' %}</a>
            </li>
            <li class="ipsDrawer_itemParent">
              <h4 class="ipsDrawer_title"><a href="#">{% trans 'Follow Us' %}</a></h4>
              <ul class="ipsDrawer_list">
                <li data-action="back">
                  <a href="#">{% trans 'Back' %}</a>
                </li>
                <li>
                  <a href="http://twitter.com/HsoubAcademy" target="_blank" rel="noopener">{% trans 'Twitter' %}</a>
                </li>
                <li>
                  <a href="http://www.facebook.com/HsoubAcademy" target="_blank" rel="noopener">{% trans 'Facebook'
                    %}</a>
                </li>
                <li>
                  <a href="https://www.youtube.com/channel/UCJv37tcBvJlBF2MoVMRMvbQ" target="_blank" rel="noopener">{%
                    trans 'Youtube' %}</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener">{% trans 'Wikki Hsoub' %} <i
                  class="fa fa-external-link"></i></a>
            </li>
          </ul>
        </li>

        <li class="ipsDrawer_itemParent">
          <h4 class="ipsDrawer_title"><a href="#">{% trans 'Q & A' %}</a></h4>
          <ul class="ipsDrawer_list">
            <li data-action="back">
              <a href="#">{% trans 'Back' %}</a>
            </li>
            <li>
              <a href="{% url 'questions' %}">{% trans 'Questions & Answers' %}</a>
            </li>
          </ul>
        </li>

        <li class="ipsDrawer_itemParent">
          <h4 class="ipsDrawer_title"><a href="#">{% trans 'Books' %}</a></h4>
          <ul class="ipsDrawer_list">
            <li data-action="back">
              <a href="#">{% trans 'Back' %}</a>
            </li>
            <li>
              <a href="{% url 'books' %}">{% trans 'Books' %}</a>
            </li>
          </ul>
        </li>

        <li class="ipsDrawer_itemParent">
          <h4 class="ipsDrawer_title"><a href="#">{% trans 'Courses' %}</a></h4>
          <ul class="ipsDrawer_list">
            <li data-action="back">
              <a href="#">{% trans 'Back' %}</a>
            </li>
            <li>
              <a href="{% url 'store' %}">{% trans 'Courses' %}</a>
            </li>
            <li>
              <a href="{% url 'store' %}">{% trans 'Courses' %}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="elMobileCreateMenuDrawer" class="ipsDrawer ipsHide">
  <div class="ipsDrawer_menu">
    <a href="#" class="ipsDrawer_close" data-action="close"><span>×</span></a>
    <div class="ipsDrawer_content ipsSpacer_bottom ipsPad">
      <ul class="ipsDrawer_list">
        <li class="ipsDrawer_listTitle ipsType_reset">
          {% trans 'Add' %}
        </li>
      </ul>
    </div>
  </div>
</div>