{% extends "HOD/elements/base.html" %}

{% block title %}
  Admin - Add Course Video
{% endblock title %}


{% block content %}

  <p>
    <a href="{% url "courses" %}">Courses</a> / <a href="{% url "course_profile" course.id %}">{{ course.title }}</a> / <a href="{% url "course_subtitle_profile" course.id subtitle.id %}">{{ subtitle.subtitle }}</a> / <a href="{% url "add_course_video" course.id subtitle.id %}">Add Video</a>
  </p>

  <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Add </span> Video</h4>
  <div class="row">

    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-body demo-vertical-spacing demo-only-element">
          
          <form action="{% url "add_course_video" course.id subtitle.id %}" method="POST" enctype="multipart/form-data"> 
            {% csrf_token %}

            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Title hare..." name="title" required>
              <span class="input-group-text">Title</span>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">Description</span>
              <textarea class="form-control" aria-label="description" placeholder="Description..." spellcheck="false" data-ms-editor="true" name="description" required></textarea>
            </div>

            <div class="mb-3">
              <label class="form-label" for="pic">Video</label>
              <input type="file" class="form-control" id="video" name="video" required>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

          </form>
        </div>
      </div>
    </div>

  </div>
{% endblock content %}


