{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en" dir="lfr">
  
<head>
  <meta charset="utf-8">
  <title>
    {% block title %}{% endblock title %}
  </title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static "assets/fonts/css/NotoArabic.css" %}">
  <link rel="stylesheet" href="{% static "assets/fonts/css/OpenSans.css" %}">
  <link href="{% static "assets/css/login.css" %}" rel="stylesheet">
  <link href="{% static "assets/css/login_header.rtl.css" %}" id="hsoubHeaderCSS" type="text/css" rel="stylesheet">

  <link rel="stylesheet" href="{% static "assets/css/all.min.css" %}">
  <script src="{% static "assets/js/all.min.js" %}"></script>

</head>

<body class="hsoub-header-exist hsoub hsoub-header-visible">
  <header class="hsoub-header" style="">
    <div class="hsoub-box">
      <ul class="hsoub-menu hsoub-menu--is-minor">
        <li class="hsoub-menu-item hsoub--visible-h hsoub-desktop hsoub-tablet ">
          <a class="hsoub-menu-item-link  hsoub-menu-item-link--is-button" href="{% url "hod_home" %}">
            <i class="hsoub-menu-item-link-icon fa fa-sign-in"></i>
            <span>{% trans "Back to home" %}</span>
          </a>
        </li>

      </ul>
    </div>
  </header>
  <div class="hsoub-container">
    <div class="hsoub-content">
      <div id="root" class="wrapper">
        <div class="container-fluid container--small">
          <div class="main main-spacer-wide">

            {% block form %}
            
            {% endblock form %}

          </div>
          <footer class="footer">
            <p class="copyrights">{% trans "© 2023 Hsoub. All rights are saved." %}</p>
          </footer>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

