{% extends "staff/elements/base.html" %}

{% load i18n %}
{% load static %}

{% block title %}
  Staff - Edit Profile
{% endblock title %}

{% block content %}

<div class="row">
  <div class="col-md-12">

   <p>
    <a href="{% url 'admin_profile' %}">My Profile</a> / <a href="{% url 'edit_staff' %}">Edit</a>
   </p>

   <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Edit </span> My Profile</h4>

    <form action="{% url "edit_staff" %}" method="POST" enctype="multipart/form-data">
      <div class="card mb-4">
        <h5 class="card-header">Profile Details</h5>
        
        <!-- Account -->
        <div class="card-body">
          <div class="d-flex align-items-start align-items-sm-center gap-4">
            {% if user.staff.profile_pic %}
              <img src="{{ user.staff.profile_pic.url }}" alt="user-avatar" class="d-block rounded img" height="100" width="100" id="uploadedAvatar">
            {% else %}
              <img src="{% static "dashboard/img/icons/user/user_icon.png" %}" alt="user-avatar" class="d-block rounded img" height="100" width="100" id="uploadedAvatar">
            {% endif %}
            
            <div class="button-wrapper">
              <label for="defaultBtn" class="btn btn-primary me-2 mb-4" tabindex="0">
                <span class="d-none d-sm-block">Upload new photo</span>
                <i class="bx bx-upload d-block d-sm-none"></i>

                <input type="file" id="defaultBtn" class="account-file-input" hidden="" accept="image/png, image/jpeg" name="profile_pic">

              </label>
              
              <a href="{% url "reset_staff_profile_pic" %}">
                <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                  <i class="bx bx-reset d-block d-sm-none"></i>
                  <span class="d-none d-sm-block">Reset</span>
                </button>
              </a>

              <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
            </div>
          </div>
        </div>

        <hr class="my-0">

        <div class="card-body">
          
          <div class="row">

            <div class="input-group mb-3">
              <span class="input-group-text">Full name</span>
              <input type="text" aria-label="First name" class="form-control" spellcheck="false" data-ms-editor="true" placeholder="First name..." name="first_name" value="{{ user.first_name }}" required>
              <input type="text" aria-label="Last name" class="form-control" spellcheck="false" data-ms-editor="true" placeholder="Last name..." name="last_name" value="{{ user.last_name }}" required>
            </div>

            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Email hare..." aria-label="Email..." aria-describedby="email-addon" spellcheck="false" data-ms-editor="true" name="email" value="{{ user.email }}" required>
              <span class="input-group-text" id="email-addon">Email</span>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text" id="username-addon">@</span>
              <input type="text" class="form-control" placeholder="Username..." aria-label="Username..." aria-describedby="username-addon" spellcheck="false" data-ms-editor="true" name="username" value="{{ user.username }}" required>
            </div>

            <div class="form-password-toggle mb-3">
              <label class="form-label" for="password">Password</label>
              <div class="input-group">
                <input type="password" class="form-control" id="password" placeholder="Type only if you want to change" aria-describedby="password" name="password">
                <span id="password" class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
              </div>
            </div>

          </div>
          <div class="mt-2">
            <button type="submit" class="btn btn-primary me-2">Save changes</button>
            <button type="reset" class="btn btn-outline-secondary">Cancel</button>
          </div>
        </div>
          <!-- /Account -->
      </div>
    </form>
    
  </div>
</div>

    

{% endblock content %}

{% block custom_script %}
  <script src="{% static 'dashboard/js/change_pic.js' %}"></script>
{% endblock custom_script %}

