{% load static %}

{% url "staff.comments" as comments %}

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <a href="{% url "hod_home" %}" class="app-brand-link">
      <span class="app-brand-logo demo">
        <img src="{% static "assets/images/logos/icon.ico" %}" alt="" width="50">
      </span>
      <span class="app-brand-text demo menu-text fw-bolder ms-2">Hsoub</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
  
    <li class="menu-item {% if request.path == comments %}active{% endif %}">
      <a href="{% url "staff.comments" %}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-detail"></i>
        <div data-i18n="Analytics">Comments</div>
      </a>
    </li>

  </ul>
</aside>